body {
  font-family: calibri;
}

.App {
  display: flex;
}

.user-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 308px;
}

/* Styles related to the table here */
.filter {
  display: flex;
  justify-content: center;
}

input {
  padding: 8px 10px;
  outline: none;
}

span {
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  min-width: 680px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.fas {
  margin-left: 7px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* Styles related to each user */

.userContainer {
  /* width: 85%; */
  width: 40%;
  border: 1px solid black;
  position: fixed;
}

.todos p {
  padding-left: 20px;
}

.user p {
  padding: 0 0 0 20px;
}

label {
  width: 20%;
  color: blueviolet;
  display: inline-block;
}
